:root {
  --background: #fff;
  --background-cart: #fff;
  --box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  --list-style: none;
  --color: #4793ff;
  --text-color: #000;
  --text-color-cart: #939cb0;
  --background-carts: rgba(71, 147, 255, 0.2);
}

[dark] {
  --background: #0d1117;
  --carts-background: #4f4f4f;
  --background-carts: #2e3035;
  --text-color: #fff;
  --background-cart: #4f4f4f;
}
